# -------------------------------------------
# 服务端配置项：
# bindAddr：本地IP绑定地址。配置127.0.0.1，只有同服务器的客户端可访问。配成0.0.0.0，不限制任何IP访问。
# bindPort：服务绑定端口
# 以下为示例，使用时请取消井号注释
# -------------------------------------------
# bindAddr = "0.0.0.0"
# bindPort = 7000

# -------------------------------------------
# 服务端认证示例：
# auth.method：认证方式
# auth.token：服务端token
# 注意：token的安全性较低，仅限临时调试使用。如果追求高安全性，用户应当使用在线OIDC服务！！！
# 以下为示例，使用时请取消井号注释
# -------------------------------------------
# auth.method = "token"
# auth.token = "your-token-here"
