# -------------------------------------------
# 服务端配置项：
# serverAddr：服务端网址
# serverPort：服务端端口
# 以下为示例，使用时请取消井号注释
# -------------------------------------------
serverAddr = "127.0.0.1"
serverPort = 7000

# -------------------------------------------
# 服务端认证示例：
# auth.method：服务端认证方式
# auth.token：服务端token
# 注意：token的安全性较低，仅限临时调试使用。如果追求高安全性，用户应当使用在线OIDC服务！！！
# 以下为示例，使用时请取消井号注释
# -------------------------------------------
# auth.method = "token"
# auth.token = "your-token-here"

# -------------------------------------------
# TCP代理示例：
# name：代理名称，随便起名
# type：代理类型，设置为tcp即可
# localIP：需要被代理到公网的本地服务的IP地址
# localPort：需要被代理到公网的本地服务的端口
# remotePort：指定需要关联到公网哪个端口
# 以下为示例，使用时请取消井号注释
# -------------------------------------------
# [[proxies]]
# name = "ssh"
# type = "tcp"
# localIP = "192.168.100.100"
# localPort = 22
# remotePort = 50001
